# TEST-ONLY certificate — DO NOT use in production.
# This is a 4096-bit RSA certificate generated for local development and CI tests.
# CN=tikti-sp-dev, expires 2030.
-----BEGIN CERTIFICATE-----
MIIE/DCCAuSgAwIBAgIBATANBgkqhkiG9w0BAQsFADAXMRUwEwYDVQQDDAx0aWt0
aS1zcC1kZXYwHhcNMjYwNDI0MTY1NjE1WhcNMzAwNDI0MTY1NjE1WjAXMRUwEwYD
VQQDDAx0aWt0aS1zcC1kZXYwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoIC
AQC5ZU+IlwXlRzzLJ2twzmifDpBB9GZZVZ090+LHjKLlui6qiNXU/jDZ7Rmuakkh
1GT6PFjZy2qJbjYJvLMYhldKcRvJIZfC5xeGuBzNOrHka6iIR1L8R6ik62SdjbuD
32QYFrIRleelnCXQvzLLNI4ECWhhKkqdsGldhYXEin+MOW3TJgBYF6gdx/eSnV9M
8GFSDpSQH7sis4ktzdmWb6Xlt8yIPoNGnoXPQDfPrQ2PdLoE8ll+gZJ8HVDPdCr2
j243+1eOpNEYnYWL/aLK2EUfHprByBMPHtKPHb5q5L2U3CbKQx0YbtUjJ5CEzDie
+rx3s+kFNpZkLtoP6QarHWJNdqdFT5665hQj4qfJeNvgfU/oxaL7b5fLlZofHBCS
vWJYm359iZp/UmJeccR8QdRYFNXzKN9vDk07wkixndmpcE0ETz3KHVJaoOkvybDK
xbLI6Rc6hc+rnhFqc0cHyZBnUhft0ezL2J0UgTXpViyGOcSXkMr9tKr5C/FicHxa
fFdQAw4wCrjsA2lJUt/22qPfvPCkYbc6r4N7jh+MN4tPMGtvMqZJNHaOQkPhfIgx
Kq1bCn11deKs+rPi+6CbCEPfMaVNY5HUpnFY1RyMLREuC3Hd+L1vu7HYq/rh3uF9
L8vRl/khx2nMjogtyKNnlokal2p07jnSxIvgGjfaI6RrLQIDAQABo1MwUTAdBgNV
HQ4EFgQUdQ4FY7o+puA52zethMzyfyP2NpUwHwYDVR0jBBgwFoAUdQ4FY7o+puA5
2zethMzyfyP2NpUwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEA
iTn36bmQy7Q0C4axpPQ+ReicWQUoYB8A+zJiyUvgCbpZrAdlA9j+H8v8MuxjcLiq
zcsCKZwea5XyxF6Oa3kGKOnyJeVbVCQtU2b+4RoF5wo3X2XbKKyWgiSsyo2AYqJ1
JZVzM4g1w87cQqd4IbG3hKN8YrfKhkKbjHUz3v/JYaX1GSIIFco/9VKi3jsL43K0
wQWfUzaYqR7v7uXDOXNochwmvh3SQ9cflsoxCJoHFcFWH5AdUeibnZdOGp3ujsKa
1vtaRI6Zj45Ozwr9RWoD4hPqhSMFCHNyWCkXsM8y4bMDbTOD0tt1C8T/vf5Rnj0T
AMEseK751XApUSA00dJYb6204f9WbcGzyPfYiO99pa3uV2G5yF9eSPSnr65DxiWc
dt5fafzG3elretKxB4oNw4JN0DVI9A5wHkuemYg6k0ZVjGn5cF8AUFrYfPEI4+Vl
KQiGHwHP4zOUWhFWE1GI63fBR0ossi8QIFbuoln1CNtTeTk2hqxPIPtJSpHxQlnj
7jr7haWTrYBMlplZwUoWKwMVtEZPIuYmtxQRCkpQ3KpAHSnCKhop5vkyfDhrNXpw
8WaH9CtYWcoc5j9zj2BE+YWI25XweXuVzVp7BK75GLkOKZiUdc0ObvX5wT9qqk4m
vPKamctOWyYpsWB7NKMLG/d+d62PADl8Jp9wJdLs+f4=
-----END CERTIFICATE-----
